<% layout('/layout') -%>

<div ng-controller="ProductsController">
  <div class="jumbotron">
    <h1>Product Data Model</h1>
    <p class="lead">Performance Test.</p>
    <p><a ng-click="get()" class="btn btn-lg btn-success" href="#" role="button">Get Products</a></p>
  </div>

  <div class="row marketing">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Tenant</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products">
            <td>{{product.tenantId}}</a></td>
            <td>{{product.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>